In [1]:
import pandas as pd 
import pymysql 
import os 
from dotenv import load_dotenv

In [2]:
# 환경 변수 설정 
load_dotenv()

True

In [3]:
# mysql 서버에 접속 
_db = pymysql.connect(
    host = os.getenv('host'), 
    port = int(os.getenv('port')), 
    user = os.getenv('user'), 
    password = os.getenv('pwd'), 
    db = os.getenv('db_name')
)

In [4]:
# 커서 생성 
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [18]:
_db.commit()

In [5]:
select_sql = """
    SELECT 
    *
    FROM 
    `sales records`
    WHERE 
    `Sales Channel` = 'Online'
"""
cursor.execute(select_sql)

5061

In [6]:
cursor.fetchall()

[{'Region': 'Sub-Saharan Africa',
  'Country': 'Chad',
  'Item Type': 'Office Supplies',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '1/27/2011',
  'Order ID': 292494523,
  'Ship Date': '2/12/2011',
  'Units Sold': 4484,
  'Unit Price': 651.21,
  'Unit Cost': 524.96,
  'Total Revenue': 2920025.64,
  'Total Cost': 2353920.64,
  'Total Profit': 566105.0},
 {'Region': 'Europe',
  'Country': 'Latvia',
  'Item Type': 'Beverages',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '12/28/2015',
  'Order ID': 361825549,
  'Ship Date': '1/23/2016',
  'Units Sold': 1075,
  'Unit Price': 47.45,
  'Unit Cost': 31.79,
  'Total Revenue': 51008.75,
  'Total Cost': 34174.25,
  'Total Profit': 16834.5},
 {'Region': 'Sub-Saharan Africa',
  'Country': 'Democratic Republic of the Congo',
  'Item Type': 'Household',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '9/11/2012',
  'Order ID': 500364005,
  'Ship Date': '10/6/2012',
  'Units Sold': 7683,
  'Unit Price': 668.27,
  'Unit Cost': 502.54,
  'Total Revenue': 5134318.41,
  'Total Cost': 3861014.82,
  'Total Profit': 1273303.59},
 {'Region': 'Europe',
  'Country': 'Czech Republic',
  'Item Type': 'Beverages',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '10/27/2015',
  'Order ID': 127481591,
  'Ship Date': '12/5/2015',
  'Units Sold': 3491,
  'Unit Price': 47.45,
  'Unit Cost': 31.79,
  'Total Revenue': 165647.95,
  'Total Cost': 110978.89,
  'Total Profit': 54669.06},
 {'Region': 'Asia',
  'Country': 'Laos',
  'Item Type': 'Vegetables',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '2/20/2011',
  'Order ID': 844532620,
  'Ship Date': '3/20/2011',
  'Units Sold': 4825,
  'Unit Price': 154.06,
  'Unit Cost': 90.93,
  'Total Revenue': 743339.5,
  'Total Cost': 438737.25,
  'Total Profit': 304602.25},
 {'Region': 'Asia',
  'Country': 'China',
  'Item Type': 'Baby Food',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '4/10/2017',
  'Order ID': 564251220,
  'Ship Date': '5/12/2017',
  'Units Sold': 3330,
  'Unit Price': 255.28,
  'Unit Cost': 159.42,
  'Total Revenue': 850082.4,
  'Total Cost': 530868.6,
  'Total Profit': 319213.8},
 {'Region': 'Sub-Saharan Africa',
  'Country': 'Eritrea',
  'Item Type': 'Meat',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '11/21/2014',
  'Order ID': 411809480,
  'Ship Date': '1/10/2015',
  'Units Sold': 2431,
  'Unit Price': 421.89,
  'Unit Cost': 364.69,
  'Total Revenue': 1025614.59,
  'Total Cost': 886561.39,
  'Total Profit': 139053.2},
 {'Region': 'Central America and the Caribbean',
  'Country': 'Haiti',
  'Item Type': 'Office Supplies',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '7/4/2015',
  'Order ID': 327881228,
  'Ship Date': '7/20/2015',
  'Units Sold': 6197,
  'Unit Price': 651.21,
  'Unit Cost': 524.96,
  'Total Revenue': 4035548.37,
  'Total Cost': 3253177.12,
  'Total Profit': 782371.25},
 {'Region': 'Europe',
  'Country': 'Germany',
  'Item Type': 'Office Supplies',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '2/22/2015',
  'Order ID': 498603188,
  'Ship Date': '2/27/2015',
  'Units Sold': 6618,
  'Unit Price': 651.21,
  'Unit Cost': 524.96,
  'Total Revenue': 4309707.78,
  'Total Cost': 3474185.28,
  'Total Profit': 835522.5},
 {'Region': 'Asia',
  'Country': 'India',
  'Item Type': 'Household',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '8/27/2016',
  'Order ID': 151717174,
  'Ship Date': '9/2/2016',
  'Units Sold': 5338,
  'Unit Price': 668.27,
  'Unit Cost': 502.54,
  'Total Revenue': 3567225.26,
  'Total Cost': 2682558.52,
  'Total Profit': 884666.74},
 {'Region': 'Central America and the Caribbean',
  'Country': 'Cuba',
  'Item Type': 'Beverages',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '11/15/2015',
  'Order ID': 640987718,
  'Ship Date': '11/30/2015',
  'Units Sold': 1365,
  'Unit Price': 47.45,
  'Unit Cost': 31.79,
  'Total Revenue': 64769.25,
  'Total Cost': 43393.35,
  'Total Profit': 21375.9},
 {'Region': 'Europe',
  'Country': 'Vatican City',
  'Item Type': 'Beverages',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '4/6/2015',
  'Order ID': 206925189,
  'Ship Date': '4/27/2015',
  'Units Sold': 2617,
  'Unit Price': 47.45,
  'Unit Cost': 31.79,
  'Total Revenue': 124176.65,
  'Total Cost': 83194.43,
  'Total Profit': 40982.22},
 {'Region': 'Europe',
  'Country': 'Ukraine',
  'Item Type': 'Office Supplies',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '8/14/2010',
  'Order ID': 746630275,
  'Ship Date': '8/31/2010',
  'Units Sold': 3345,
  'Unit Price': 651.21,
  'Unit Cost': 524.96,
  'Total Revenue': 2178297.45,
  'Total Cost': 1755991.2,
  'Total Profit': 422306.25},
 {'Region': 'Europe',
  'Country': 'Greece',
  'Item Type': 'Clothes',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '10/9/2016',
  'Order ID': 510666692,
  'Ship Date': '10/13/2016',
  'Units Sold': 6477,
  'Unit Price': 109.28,
  'Unit Cost': 35.84,
  'Total Revenue': 707806.56,
  'Total Cost': 232135.68,
  'Total Profit': 475670.88},
 {'Region': 'Australia and Oceania',
  'Country': 'Federated States of Micronesia',
  'Item Type': 'Baby Food',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '10/24/2013',
  'Order ID': 332936227,
  'Ship Date': '12/3/2013',
  'Units Sold': 2083,
  'Unit Price': 255.28,
  'Unit Cost': 159.42,
  'Total Revenue': 531748.24,
  'Total Cost': 332071.86,
  'Total Profit': 199676.38},
 {'Region': 'Europe',
  'Country': 'Andorra',
  'Item Type': 'Office Supplies',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '6/20/2015',
  'Order ID': 365978467,
  'Ship Date': '7/21/2015',
  'Units Sold': 16,
  'Unit Price': 651.21,
  'Unit Cost': 524.96,
  'Total Revenue': 10419.36,
  'Total Cost': 8399.36,
  'Total Profit': 2020.0},
 {'Region': 'Europe',
  'Country': 'Switzerland',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '8/5/2011',
  'Order ID': 392325484,
  'Ship Date': '9/1/2011',
  'Units Sold': 6684,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 546283.32,
  'Total Cost': 378782.28,
  'Total Profit': 167501.04},
 {'Region': 'Europe',
  'Country': 'San Marino',
  'Item Type': 'Vegetables',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '7/5/2015',
  'Order ID': 603977954,
  'Ship Date': '7/29/2015',
  'Units Sold': 9353,
  'Unit Price': 154.06,
  'Unit Cost': 90.93,
  'Total Revenue': 1440923.18,
  'Total Cost': 850468.29,
  'Total Profit': 590454.89},
 {'Region': 'Central America and the Caribbean',
  'Country': 'Nicaragua',
  'Item Type': 'Fruits',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '3/25/2015',
  'Order ID': 965943562,
  'Ship Date': '5/9/2015',
  'Units Sold': 3020,
  'Unit Price': 9.33,
  'Unit Cost': 6.92,
  'Total Revenue': 28176.6,
  'Total Cost': 20898.4,
  'Total Profit': 7278.2},
 {'Region': 'Middle East and North Africa',
  'Country': 'Azerbaijan',
  'Item Type': 'Cosmetics',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '8/22/2013',
  'Order ID': 233629691,
  'Ship Date': '8/30/2013',
  'Units Sold': 5072,
  'Unit Price': 437.2,
  'Unit Cost': 263.33,
  'Total Revenue': 2217478.4,
  'Total Cost': 1335609.76,
  'Total Profit': 881868.64},
 {'Region': 'Asia',
  'Country': 'Bangladesh',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '12/11/2016',
  'Order ID': 246147668,
  'Ship Date': '1/13/2017',
  'Units Sold': 9420,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 769896.6,
  'Total Cost': 533831.4,
  'Total Profit': 236065.2},
 {'Region': 'Europe',
  'Country': 'Serbia',
  'Item Type': 'Beverages',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '6/23/2013',
  'Order ID': 212921321,
  'Ship Date': '7/18/2013',
  'Units Sold': 7005,
  'Unit Price': 47.45,
  'Unit Cost': 31.79,
  'Total Revenue': 332387.25,
  'Total Cost': 222688.95,
  'Total Profit': 109698.3},
 {'Region': 'Middle East and North Africa',
  'Country': 'Turkey',
  'Item Type': 'Clothes',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '2/11/2015',
  'Order ID': 912333714,
  'Ship Date': '3/2/2015',
  'Units Sold': 8675,
  'Unit Price': 109.28,
  'Unit Cost': 35.84,
  'Total Revenue': 948004.0,
  'Total Cost': 310912.0,
  'Total Profit': 637092.0},
 {'Region': 'Australia and Oceania',
  'Country': 'Australia',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '3/16/2014',
  'Order ID': 856333482,
  'Ship Date': '4/27/2014',
  'Units Sold': 6962,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 569004.26,
  'Total Cost': 394536.54,
  'Total Profit': 174467.72},
 {'Region': 'Europe',
  'Country': 'Slovenia',
  'Item Type': 'Cosmetics',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '9/30/2010',
  'Order ID': 574837148,
  'Ship Date': '11/11/2010',
  'Units Sold': 5941,
  'Unit Price': 437.2,
  'Unit Cost': 263.33,
  'Total Revenue': 2597405.2,
  'Total Cost': 1564443.53,
  'Total Profit': 1032961.67},
 {'Region': 'Sub-Saharan Africa',
  'Country': 'South Africa',
  'Item Type': 'Cereal',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '7/21/2017',
  'Order ID': 289660394,
  'Ship Date': '8/22/2017',
  'Units Sold': 5802,
  'Unit Price': 205.7,
  'Unit Cost': 117.11,
  'Total Revenue': 1193471.4,
  'Total Cost': 679472.22,
  'Total Profit': 513999.18},
 {'Region': 'Sub-Saharan Africa',
  'Country': 'Ghana',
  'Item Type': 'Vegetables',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '7/10/2013',
  'Order ID': 681165492,
  'Ship Date': '7/26/2013',
  'Units Sold': 861,
  'Unit Price': 154.06,
  'Unit Cost': 90.93,
  'Total Revenue': 132645.66,
  'Total Cost': 78290.73,
  'Total Profit': 54354.93},
 {'Region': 'Sub-Saharan Africa',
  'Country': 'Guinea',
  'Item Type': 'Meat',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '6/4/2011',
  'Order ID': 956044280,
  'Ship Date': '7/24/2011',
  'Units Sold': 3603,
  'Unit Price': 421.89,
  'Unit Cost': 364.69,
  'Total Revenue': 1520069.67,
  'Total Cost': 1313978.07,
  'Total Profit': 206091.6},
 {'Region': 'Europe',
  'Country': 'Moldova ',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '10/26/2015',
  'Order ID': 771969211,
  'Ship Date': '12/15/2015',
  'Units Sold': 1699,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 138859.27,
  'Total Cost': 96282.33,
  'Total Profit': 42576.94},
 {'Region': 'Central America and the Caribbean',
  'Country': 'Dominican Republic',
  'Item Type': 'Cereal',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '8/4/2011',
  'Order ID': 178453862,
  'Ship Date': '8/27/2011',
  'Units Sold': 7318,
  'Unit Price': 205.7,
  'Unit Cost': 117.11,
  'Total Revenue': 1505312.6,
  'Total Cost': 857010.98,
  'Total Profit': 648301.62},
 {'Region': 'Europe',
  'Country': 'Luxembourg',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '2/24/2017',
  'Order ID': 835580909,
  'Ship Date': '4/14/2017',
  'Units Sold': 5814,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 475178.22,
  'Total Cost': 329479.38,
  'Total Profit': 145698.84},
 {'Region': 'Central America and the Caribbean',
  'Country': 'Saint Lucia',
  'Item Type': 'Fruits',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '5/2/2015',
  'Order ID': 278519999,
  'Ship Date': '6/14/2015',
  'Units Sold': 9112,
  'Unit Price': 9.33,
  'Unit Cost': 6.92,
  'Total Revenue': 85014.96,
  'Total Cost': 63055.04,
  'Total Profit': 21959.92},
 {'Region': 'Europe',
  'Country': 'Iceland',
  'Item Type': 'Snacks',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '4/22/2015',
  'Order ID': 723186051,
  'Ship Date': '5/13/2015',
  'Units Sold': 5678,
  'Unit Price': 152.58,
  'Unit Cost': 97.44,
  'Total Revenue': 866349.24,
  'Total Cost': 553264.32,
  'Total Profit': 313084.92},
 {'Region': 'Sub-Saharan Africa',
  'Country': 'Mauritius ',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '5/12/2011',
  'Order ID': 353942859,
  'Ship Date': '5/15/2011',
  'Units Sold': 8412,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 687512.76,
  'Total Cost': 476708.04,
  'Total Profit': 210804.72},
 {'Region': 'Sub-Saharan Africa',
  'Country': 'Malawi',
  'Item Type': 'Office Supplies',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '12/21/2011',
  'Order ID': 848183858,
  'Ship Date': '1/18/2012',
  'Units Sold': 5307,
  'Unit Price': 651.21,
  'Unit Cost': 524.96,
  'Total Revenue': 3455971.47,
  'Total Cost': 2785962.72,
  'Total Profit': 670008.75},
 {'Region': 'Sub-Saharan Africa',
  'Country': 'Seychelles ',
  'Item Type': 'Meat',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '12/2/2010',
  'Order ID': 374707877,
  'Ship Date': '12/25/2010',
  'Units Sold': 3243,
  'Unit Price': 421.89,
  'Unit Cost': 364.69,
  'Total Revenue': 1368189.27,
  'Total Cost': 1182689.67,
  'Total Profit': 185499.6},
 {'Region': 'Europe',
  'Country': 'Montenegro',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '8/14/2010',
  'Order ID': 322626245,
  'Ship Date': '9/16/2010',
  'Units Sold': 1130,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 92354.9,
  'Total Cost': 64037.1,
  'Total Profit': 28317.8},
 {'Region': 'Europe',
  'Country': 'Germany',
  'Item Type': 'Household',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '10/5/2010',
  'Order ID': 351362788,
  'Ship Date': '11/14/2010',
  'Units Sold': 4912,
  'Unit Price': 668.27,
  'Unit Cost': 502.54,
  'Total Revenue': 3282542.24,
  'Total Cost': 2468476.48,
  'Total Profit': 814065.76},
 {'Region': 'Europe',
  'Country': 'Serbia',
  'Item Type': 'Clothes',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '9/8/2012',
  'Order ID': 540548217,
  'Ship Date': '9/20/2012',
  'Units Sold': 9084,
  'Unit Price': 109.28,
  'Unit Cost': 35.84,
  'Total Revenue': 992699.52,
  'Total Cost': 325570.56,
  'Total Profit': 667128.96},
 {'Region': 'Europe',
  'Country': 'Hungary',
  'Item Type': 'Clothes',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '10/11/2013',
  'Order ID': 109027135,
  'Ship Date': '10/27/2013',
  'Units Sold': 2407,
  'Unit Price': 109.28,
  'Unit Cost': 35.84,
  'Total Revenue': 263036.96,
  'Total Cost': 86266.88,
  'Total Profit': 176770.08},
 {'Region': 'Central America and the Caribbean',
  'Country': 'Cuba',
  'Item Type': 'Cosmetics',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '10/6/2016',
  'Order ID': 108073127,
  'Ship Date': '10/20/2016',
  'Units Sold': 95,
  'Unit Price': 437.2,
  'Unit Cost': 263.33,
  'Total Revenue': 41534.0,
  'Total Cost': 25016.35,
  'Total Profit': 16517.65},
 {'Region': 'Middle East and North Africa',
  'Country': 'Algeria',
  'Item Type': 'Vegetables',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '11/4/2016',
  'Order ID': 224693858,
  'Ship Date': '11/25/2016',
  'Units Sold': 761,
  'Unit Price': 154.06,
  'Unit Cost': 90.93,
  'Total Revenue': 117239.66,
  'Total Cost': 69197.73,
  'Total Profit': 48041.93},
 {'Region': 'Europe',
  'Country': 'Bosnia and Herzegovina',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '4/12/2016',
  'Order ID': 406428754,
  'Ship Date': '5/1/2016',
  'Units Sold': 155,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 12668.15,
  'Total Cost': 8783.85,
  'Total Profit': 3884.3},
 {'Region': 'Central America and the Caribbean',
  'Country': 'Antigua and Barbuda ',
  'Item Type': 'Baby Food',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '11/13/2014',
  'Order ID': 230407607,
  'Ship Date': '12/20/2014',
  'Units Sold': 1586,
  'Unit Price': 255.28,
  'Unit Cost': 159.42,
  'Total Revenue': 404874.08,
  'Total Cost': 252840.12,
  'Total Profit': 152033.96},
 {'Region': 'Asia',
  'Country': 'Cambodia',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '8/26/2012',
  'Order ID': 129491746,
  'Ship Date': '9/22/2012',
  'Units Sold': 8340,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 681628.2,
  'Total Cost': 472627.8,
  'Total Profit': 209000.4},
 {'Region': 'Middle East and North Africa',
  'Country': 'Oman',
  'Item Type': 'Vegetables',
  'Sales Channel': 'Online',
  'Order Priority': 'C',
  'Order Date': '7/15/2014',
  'Order ID': 606854999,
  'Ship Date': '8/15/2014',
  'Units Sold': 735,
  'Unit Price': 154.06,
  'Unit Cost': 90.93,
  'Total Revenue': 113234.1,
  'Total Cost': 66833.55,
  'Total Profit': 46400.55},
 {'Region': 'Europe',
  'Country': 'Albania',
  'Item Type': 'Baby Food',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '10/4/2012',
  'Order ID': 123513209,
  'Ship Date': '11/21/2012',
  'Units Sold': 9158,
  'Unit Price': 255.28,
  'Unit Cost': 159.42,
  'Total Revenue': 2337854.24,
  'Total Cost': 1459968.36,
  'Total Profit': 877885.88},
 {'Region': 'Europe',
  'Country': 'Switzerland',
  'Item Type': 'Vegetables',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '5/14/2013',
  'Order ID': 900816953,
  'Ship Date': '6/10/2013',
  'Units Sold': 609,
  'Unit Price': 154.06,
  'Unit Cost': 90.93,
  'Total Revenue': 93822.54,
  'Total Cost': 55376.37,
  'Total Profit': 38446.17},
 {'Region': 'Sub-Saharan Africa',
  'Country': 'Ghana',
  'Item Type': 'Household',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '1/12/2013',
  'Order ID': 452005279,
  'Ship Date': '2/2/2013',
  'Units Sold': 7261,
  'Unit Price': 668.27,
  'Unit Cost': 502.54,
  'Total Revenue': 4852308.47,
  'Total Cost': 3648942.94,
  'Total Profit': 1203365.53},
 {'Region': 'Europe',
  'Country': 'Austria',
  'Item Type': 'Vegetables',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '10/3/2012',
  'Order ID': 672439515,
  'Ship Date': '11/12/2012',
  'Units Sold': 8650,
  'Unit Price': 154.06,
  'Unit Cost': 90.93,
  'Total Revenue': 1332619.0,
  'Total Cost': 786544.5,
  'Total Profit': 546074.5},
 {'Region': 'Central America and the Caribbean',
  'Country': 'Dominican Republic',
  'Item Type': 'Clothes',
  'Sales Channel': 'Online',
  'Order Priority': 'L',
  'Order Date': '2/6/2014',
  'Order ID': 704053533,
  'Ship Date': '3/28/2014',
  'Units Sold': 3941,
  'Unit Price': 109.28,
  'Unit Cost': 35.84,
  'Total Revenue': 430672.48,
  'Total Cost': 141245.44,
  'Total Profit': 289427.04},
 {'Region': 'Australia and Oceania',
  'Country': 'Samoa ',
  'Item Type': 'Office Supplies',
  'Sales Channel': 'Online',
  'Order Priority': 'M',
  'Order Date': '7/19/2015',
  'Order ID': 272820842,
  'Ship Date': '8/20/2015',
  'Units Sold': 2605,
  'Unit Price': 651.21,
  'Unit Cost': 524.96,
  'Total Revenue': 1696402.05,
  'Total Cost': 1367520.8,
  'Total Profit': 328881.25},
 {'Region': 'Middle East and North Africa',
  'Country': 'Kuwait',
  'Item Type': 'Personal Care',
  'Sales Channel': 'Online',
  'Order Priority': 'H',
  'Order Date': '10/28/2012',
  'Order ID': 548818433,
  'Ship Date': '11/24/2012',
  'Units Sold': 6425,
  'Unit Price': 81.73,
  'Unit Cost': 56.67,
  'Total Revenue': 525115.25,
  'Total Cost': 364104.75,
  'Total Profit': 161010.5},
 {'Region': 'Europe',
  'Country': 'Hungary',

In [19]:
select_sql2 = """
    SELECT 
    * 
    FROM 
    `sales records`
    WHERE `Sales Channel` = %s
"""
values = ['Online', 'Offline']

cursor.execute(select_sql2, values)

TypeError: not all arguments converted during string formatting

In [9]:
def select_query(
        _sql, 
        *_val
):
    # _sql : query문이 입력
    # _val : query에서 사용될 변수들의 모음(tuple)
    # 커서에 query문을 보낸다. 
    cursor.execute(_sql, _val)
    # query에 대한 응답을 가져온다. 
    cursor_data = cursor.fetchall()
    # cursor_data를 데이터프레임으로 변환 
    df = pd.DataFrame(cursor_data)
    # 데이터프레임을 되돌려준다. 
    return df

In [15]:
query1 = """
    SELECT 
    * 
    FROM 
    `sales records` 
    WHERE `Country` in (%s, %s)
"""
select_query(query1, 'South Korea', 'North Korea')

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Asia,North Korea,Meat,Online,L,11/26/2015,873673427,12/6/2015,8237,421.89,364.69,3475107.93,3003951.53,471156.40
1,Asia,North Korea,Baby Food,Online,L,2/16/2013,837638700,2/28/2013,4760,255.28,159.42,1215132.80,758839.20,456293.60
2,Asia,South Korea,Clothes,Offline,M,5/12/2016,957286679,6/11/2016,1256,109.28,35.84,137255.68,45015.04,92240.64
3,Asia,North Korea,Snacks,Online,L,1/8/2012,568074548,1/26/2012,4737,152.58,97.44,722771.46,461573.28,261198.18
4,Asia,North Korea,Cosmetics,Online,M,9/20/2016,959385669,10/23/2016,2394,437.20,263.33,1046656.80,630412.02,416244.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,Asia,North Korea,Beverages,Online,C,12/20/2010,397891604,1/1/2011,3823,47.45,31.79,181401.35,121533.17,59868.18
112,Asia,South Korea,Snacks,Online,C,11/29/2014,518116366,1/6/2015,1001,152.58,97.44,152732.58,97537.44,55195.14
113,Asia,North Korea,Household,Offline,M,10/12/2010,884074389,10/23/2010,6113,668.27,502.54,4085134.51,3072027.02,1013107.49
114,Asia,North Korea,Snacks,Online,L,8/18/2015,237559020,9/26/2015,7848,152.58,97.44,1197447.84,764709.12,432738.72
115,Asia,South Korea,Office Supplies,Online,H,2/8/2016,725222384,3/27/2016,8274,651.21,524.96,5388111.54,4343519.04,1044592.50

In [20]:
# emp table 에서 특정 조건에 맞는 데이터를 출력 
# SAL 필드에서 1500이상인 사원 정보를 출력
sql_query2 = """
    SELECT 
    * 
    FROM 
    `emp`
    WHERE `SAL` >= 1500
"""
select_query(sql_query2)

    EMPNO   ENAME        JOB     MGR    HIREDATE     SAL   COMM  DEPTNO
0  7499.0   ALLEN   SALESMAN  7698.0  1981-02-20  1600.0  300.0    30.0
1  7566.0   JONES    MANAGER  7839.0  1981-04-02  2975.0    0.0    20.0
2  7698.0   BLAKE    MANAGER  7839.0  1981-05-01  2850.0    0.0    30.0
3  7782.0   CLARK    MANAGER  7839.0  1981-06-09  2450.0    0.0    10.0
4  7788.0   SCOTT    ANALYST  7566.0  1987-06-28  3000.0    0.0    20.0
5  7839.0    KING  PRESIDENT     0.0  1981-11-17  5000.0    0.0    10.0
6  7844.0  TURNER   SALESMAN  7698.0  1981-09-08  1500.0    0.0    30.0
7  7902.0    FORD    ANALYST  7566.0  1981-12-03  3000.0    0.0    20.0

In [21]:
sql_query = """
    SELECT 
    * 
    FROM 
    `emp`
"""
df = select_query(sql_query)
df

     EMPNO   ENAME        JOB     MGR    HIREDATE     SAL    COMM  DEPTNO
0   7369.0   SMITH      CLERK  7902.0  1980-12-17   800.0     0.0    20.0
1   7499.0   ALLEN   SALESMAN  7698.0  1981-02-20  1600.0   300.0    30.0
2   7521.0    WARD   SALESMAN  7698.0  1981-02-22  1250.0   500.0    30.0
3   7566.0   JONES    MANAGER  7839.0  1981-04-02  2975.0     0.0    20.0
4   7654.0  MARTIN   SALESMAN  7698.0  1981-09-28  1250.0  1400.0    30.0
5   7698.0   BLAKE    MANAGER  7839.0  1981-05-01  2850.0     0.0    30.0
6   7782.0   CLARK    MANAGER  7839.0  1981-06-09  2450.0     0.0    10.0
7   7788.0   SCOTT    ANALYST  7566.0  1987-06-28  3000.0     0.0    20.0
8   7839.0    KING  PRESIDENT     0.0  1981-11-17  5000.0     0.0    10.0
9   7844.0  TURNER   SALESMAN  7698.0  1981-09-08  1500.0     0.0    30.0
10  7876.0   ADAMS      CLERK  7788.0  1987-07-13  1100.0     0.0    20.0
11  7900.0   JAMES      CLERK  7698.0  1981-12-03   950.0     0.0    30.0
12  7902.0    FORD    ANALYST  7566.0  1981-12-03  3000.0     0.0    20.0
13  7934.0  MILLER      CLERK  7782.0  1982-01-23  1300.0     0.0    10.0

In [22]:
# df에서 SAL 컬럼의 데이터가 1500이상인 데이터를 출력하시오
flag = df['SAL'] >= 1500
df.loc[flag]

     EMPNO   ENAME        JOB     MGR    HIREDATE     SAL   COMM  DEPTNO
1   7499.0   ALLEN   SALESMAN  7698.0  1981-02-20  1600.0  300.0    30.0
3   7566.0   JONES    MANAGER  7839.0  1981-04-02  2975.0    0.0    20.0
5   7698.0   BLAKE    MANAGER  7839.0  1981-05-01  2850.0    0.0    30.0
6   7782.0   CLARK    MANAGER  7839.0  1981-06-09  2450.0    0.0    10.0
7   7788.0   SCOTT    ANALYST  7566.0  1987-06-28  3000.0    0.0    20.0
8   7839.0    KING  PRESIDENT     0.0  1981-11-17  5000.0    0.0    10.0
9   7844.0  TURNER   SALESMAN  7698.0  1981-09-08  1500.0    0.0    30.0
12  7902.0    FORD    ANALYST  7566.0  1981-12-03  3000.0    0.0    20.0

In [23]:
# sql 
# SAL 이 1500이상이고(and) 3000이하인 사원의 이름을 출력 
select_query3 = """
    SELECT 
    `ENAME`
    FROM 
    `emp`
    WHERE 
    `SAL` >= 1500 AND `SAL` <= 3000
"""
select_query(select_query3)

    ENAME
0   ALLEN
1   JONES
2   BLAKE
3   CLARK
4   SCOTT
5  TURNER
6    FORD

In [24]:
sql_query3 = """
    SELECT
    `ENAME`
    FROM 
    `emp`
    WHERE `SAL` BETWEEN 1500 AND 3000
"""
select_query(sql_query3)

    ENAME
0   ALLEN
1   JONES
2   BLAKE
3   CLARK
4   SCOTT
5  TURNER
6    FORD

- pandas에서 데이터프레임 필터 
- df[조건식]
- df[컬럼명]
- loc[]
    - 인덱스의 조건식, 컬럼의 조건식
- iloc[]
    - 인덱스의 위치, 컬럼의 위치

In [25]:
flag = df['SAL'] >= 1500
flag2 = df['SAL'] <= 3000

df[flag & flag2][['ENAME']]
df.loc[flag & flag2, ['ENAME']]

     ENAME
1    ALLEN
3    JONES
5    BLAKE
6    CLARK
7    SCOTT
9   TURNER
12    FORD

In [26]:
# sql
# 사원의 이름이 S 시작하는 사원의 정보를 확인
sql_query4 = """
    SELECT 
    * 
    FROM 
    `emp`
    WHERE `ENAME` LIKE 'S%%'
"""
select_query(sql_query4)

    EMPNO  ENAME      JOB     MGR    HIREDATE     SAL  COMM  DEPTNO
0  7369.0  SMITH    CLERK  7902.0  1980-12-17   800.0   0.0    20.0
1  7788.0  SCOTT  ANALYST  7566.0  1987-06-28  3000.0   0.0    20.0

In [27]:
# pandas 
# 조건식 : ENAME 컬럼의 데이터가 S로 시작하는가?
# 문자형 내장함수 : startswith()
# 스리즈 형태 데이터에서 문자형 내장함수 사용 : series.str.함수명()
flag = df['ENAME'].str.startswith('S')

df.loc[flag]

    EMPNO  ENAME      JOB     MGR    HIREDATE     SAL  COMM  DEPTNO
0  7369.0  SMITH    CLERK  7902.0  1980-12-17   800.0   0.0    20.0
7  7788.0  SCOTT  ANALYST  7566.0  1987-06-28  3000.0   0.0    20.0

In [28]:
# ENAME에 데이터를 하나씩 뽑아서 앞의 단어가 S 인가?
word = 'S'

# map() 함수 
# series.map( 함수(일반함수, lambda함수) )
flag = df['ENAME'].map(
    # lambda x 의 x는 ENAME 값들이 하나씩 대입
    # if문을 한줄로 표현 : "참일경우 값" if 조건식 else "거짓일경우 값값"
    lambda x : True if x[ : len(word)] == word else False
)
df.loc[flag]

    EMPNO  ENAME      JOB     MGR    HIREDATE     SAL  COMM  DEPTNO
0  7369.0  SMITH    CLERK  7902.0  1980-12-17   800.0   0.0    20.0
7  7788.0  SCOTT  ANALYST  7566.0  1987-06-28  3000.0   0.0    20.0

In [29]:
word = 'S'
flag = []
for i in df['ENAME']:
    # i : ENAME의 값들이 하나씩 대입 
    flag.append(i[ : len(word)] == word)
df.loc[flag]

    EMPNO  ENAME      JOB     MGR    HIREDATE     SAL  COMM  DEPTNO
0  7369.0  SMITH    CLERK  7902.0  1980-12-17   800.0   0.0    20.0
7  7788.0  SCOTT  ANALYST  7566.0  1987-06-28  3000.0   0.0    20.0

In [30]:
flag = df['ENAME'].str.contains('S')
df.loc[flag]

     EMPNO  ENAME      JOB     MGR    HIREDATE     SAL  COMM  DEPTNO
0   7369.0  SMITH    CLERK  7902.0  1980-12-17   800.0   0.0    20.0
3   7566.0  JONES  MANAGER  7839.0  1981-04-02  2975.0   0.0    20.0
7   7788.0  SCOTT  ANALYST  7566.0  1987-06-28  3000.0   0.0    20.0
10  7876.0  ADAMS    CLERK  7788.0  1987-07-13  1100.0   0.0    20.0
11  7900.0  JAMES    CLERK  7698.0  1981-12-03   950.0   0.0    30.0

In [31]:
word = 'S'
flag = df['ENAME'].map(
    lambda x : word in x 
)
df.loc[flag]

     EMPNO  ENAME      JOB     MGR    HIREDATE     SAL  COMM  DEPTNO
0   7369.0  SMITH    CLERK  7902.0  1980-12-17   800.0   0.0    20.0
3   7566.0  JONES  MANAGER  7839.0  1981-04-02  2975.0   0.0    20.0
7   7788.0  SCOTT  ANALYST  7566.0  1987-06-28  3000.0   0.0    20.0
10  7876.0  ADAMS    CLERK  7788.0  1987-07-13  1100.0   0.0    20.0
11  7900.0  JAMES    CLERK  7698.0  1981-12-03   950.0   0.0    30.0

In [32]:
# join 
# 두개의 테이블을 결합하는 방식 중 하나 
# 특정한 조건에 맞춰서 테이블의 열을 결합하는 방식 
# pandas에서 merge()와 같은 기능
# emp table과 dept table을 결합 
sql_query5 = """
    SELECT 
    *
    FROM 
    `dept`
"""
dept = select_query(sql_query5)
dept

   DEPTNO       DNAME       LOC
0    10.0  ACCOUNTING  NEW YORK
1    20.0    RESEARCH    DALLAS
2    30.0       SALES   CHICAGO
3    40.0  OPERATIONS    BOSTON

In [ ]:
df

In [33]:
# emp, dept table join 결합 
# left join
join_query = """
    SELECT 
    a.`ENAME`, a.`JOB`, a.`SAL`, b.`DNAME`, b.`LOC`
    FROM 
    `emp` a
    LEFT JOIN 
    `dept` b
    ON a.`DEPTNO` = b.`DEPTNO`
"""
select_query(join_query)

     ENAME        JOB     SAL       DNAME       LOC
0    SMITH      CLERK   800.0    RESEARCH    DALLAS
1    ALLEN   SALESMAN  1600.0       SALES   CHICAGO
2     WARD   SALESMAN  1250.0       SALES   CHICAGO
3    JONES    MANAGER  2975.0    RESEARCH    DALLAS
4   MARTIN   SALESMAN  1250.0       SALES   CHICAGO
5    BLAKE    MANAGER  2850.0       SALES   CHICAGO
6    CLARK    MANAGER  2450.0  ACCOUNTING  NEW YORK
7    SCOTT    ANALYST  3000.0    RESEARCH    DALLAS
8     KING  PRESIDENT  5000.0  ACCOUNTING  NEW YORK
9   TURNER   SALESMAN  1500.0       SALES   CHICAGO
10   ADAMS      CLERK  1100.0    RESEARCH    DALLAS
11   JAMES      CLERK   950.0       SALES   CHICAGO
12    FORD    ANALYST  3000.0    RESEARCH    DALLAS
13  MILLER      CLERK  1300.0  ACCOUNTING  NEW YORK

In [34]:
# pandas 
# pandas에서 merge(데이터프레임, 데이터프레임, on = 조건, how = 방식)
pd.merge(df, dept, on='DEPTNO', how = 'left')\
    [ ['ENAME', 'JOB', "SAL", 'DNAME', 'LOC'] ]
# Dataframe에서 merge(데이터프레임, on = 조건, how = 방식)
df.merge(dept, on='DEPTNO', how='left')\
    [ ['ENAME', 'JOB', "SAL", 'DNAME', 'LOC'] ]

     ENAME        JOB     SAL       DNAME       LOC
0    SMITH      CLERK   800.0    RESEARCH    DALLAS
1    ALLEN   SALESMAN  1600.0       SALES   CHICAGO
2     WARD   SALESMAN  1250.0       SALES   CHICAGO
3    JONES    MANAGER  2975.0    RESEARCH    DALLAS
4   MARTIN   SALESMAN  1250.0       SALES   CHICAGO
5    BLAKE    MANAGER  2850.0       SALES   CHICAGO
6    CLARK    MANAGER  2450.0  ACCOUNTING  NEW YORK
7    SCOTT    ANALYST  3000.0    RESEARCH    DALLAS
8     KING  PRESIDENT  5000.0  ACCOUNTING  NEW YORK
9   TURNER   SALESMAN  1500.0       SALES   CHICAGO
10   ADAMS      CLERK  1100.0    RESEARCH    DALLAS
11   JAMES      CLERK   950.0       SALES   CHICAGO
12    FORD    ANALYST  3000.0    RESEARCH    DALLAS
13  MILLER      CLERK  1300.0  ACCOUNTING  NEW YORK

In [35]:
# 외부의 데이터베이스에 접속 
_db2 = pymysql.connect(
    host = '172.30.1.56', 
    port = 3306, 
    user = 'ubion', 
    password = '1234', 
    db = 'ubion'
)

In [36]:
# 커서 생성
cursor2 = _db2.cursor(pymysql.cursors.DictCursor)

In [37]:
sql_query = """
    SELECT 
    * 
    FROM
    `tran_1`
"""

In [38]:
cursor.execute(sql_query)

ProgrammingError: (1146, "Table 'ubion.tran_1' doesn't exist")

In [39]:
cursor2.execute(sql_query)

5000

In [40]:
# union 결합 
# 2개의 table을 단순하게 행으로 결합 
# pandas에서는 concat() 같은 기능
union_query = """
    SELECT 
    * 
    FROM 
    `tran_1` 
    UNION 
    SELECT 
    *
    FROM 
    `tran_2`
"""
cursor2.execute(union_query)

6786

In [41]:
pd.DataFrame(cursor2.fetchall())

     transaction_id   price         payment_date customer_id
0       T0000000113  210000  2019-02-01 01:36:57    PL563502
1       T0000000114   50000  2019-02-01 01:37:23    HD678019
2       T0000000115  120000  2019-02-01 02:34:19    HD298120
3       T0000000116  210000  2019-02-01 02:47:23    IK452215
4       T0000000117  170000  2019-02-01 04:33:46    PL542865
...             ...     ...                  ...         ...
6781    T0000006894  180000  2019-07-31 21:20:44    HI400734
6782    T0000006895   85000  2019-07-31 21:52:48    AS339451
6783    T0000006896  100000  2019-07-31 23:35:25    OA027325
6784    T0000006897   85000  2019-07-31 23:39:35    TS624738
6785    T0000006898   85000  2019-07-31 23:41:38    AS834214

[6786 rows x 4 columns]

In [42]:
_db.close()
_db2.close()

In [59]:
# Database에 접속하여 query문을 보내는 함수까지 결합하여 Class 생성

# class 키워드를 통해서 class 선언


class MyDB:
    # 독립적으로 저장이 되는 변수를 생성 
    # class가 생성되는 과정에서 바로 호출이 되는 함수 : 생성자 함수 
    # 변수 : 서버의 주소, 포트번호, 유저명, 비밀번호, 데이터베이스명
    # 변수들의 기본값을 설정 ( 로컬 피씨씨 ) 
    def __init__(self, 
                 host = "127.0.0.1", 
                 port = 3306, 
                 user = 'root', 
                 pwd = '1234', 
                 db = 'ubion'):
        self.host = host
        self.port = port
        self.user = user
        self.pwd = pwd
        self.db = db
    
    # 서버와 연결하고 커서를 생성하는 함수 
    def connect_sql(self):
        # 서버와 연결 
        self.server = pymysql.connect(
            host = self.host, 
            port = self.port, 
            user = self.user, 
            password = self.pwd, 
            db = self.db
        )
        # 커서를 생성 (독립적)
        self.cursor = self.server.cursor(pymysql.cursors.DictCursor)
        
    # 서버와 연결을 종료하는 함수 
    def close_sql(self):
        self.server.close()

    # 쿼리문을 실행하는 함수 
    def execute_query(self, sql_query, *values, inplace = False):
        #서버와 연결
        self.connect_sql()
        # 커서에 sql_query를 보낸다. 
        self.cursor.execute(sql_query, values)
        # sql_query가 select 문이라면?
        if sql_query.upper().lstrip().startswith('SELECT'):
            # 커서에서 데이터를 가져온다. 
            sql_data = self.cursor.fetchall()
            # 데이터프레임으로 변환
            result = pd.DataFrame(sql_data)
        else:
            #insert, update, delete인 경우
            if inplace:
                self.server.commit()
            result = "Query OK"
        #서버와의 연결을 종료
        self.close_sql()

        return result

In [60]:
db1 = MyDB()
db2 = MyDB(
    host = '172.30.1.56',
    port = 3306,
    user ='ubion',
    pwd ='1234',
    db = 'ubion'
)

In [45]:
db1.connect_sql()
db2.connect_sql()

In [61]:
#4개 테이블 결합
#tran_1,tran_2 union 결합
#tran_d1, tran_d2 union 결합
#union 결합 후 join 결합

query_1 = """

    SELECT *
    FROM
    (SELECT * FROM `tran_1`
    UNION
    SELECT * FROM `tran_2`) AS A
    LEFT JOIN 
    (SELECT * FROM `tran_d_1`
    UNION
    SELECT * FROM `tran_d_2`) AS B
    ON A.`transaction_id` = B.`transaction_id`

"""
db2.execute_query(query_1)

,transaction_id,price,payment_date,customer_id,detail_id,B.transaction_id,item_id,quantity
0,T0000000113,210000,2019-02-01 01:36:57,PL563502,0,T0000000113,S005,1
1,T0000000114,50000,2019-02-01 01:37:23,HD678019,1,T0000000114,S001,1
2,T0000000115,120000,2019-02-01 02:34:19,HD298120,2,T0000000115,S003,1
3,T0000000116,210000,2019-02-01 02:47:23,IK452215,3,T0000000116,S005,1
4,T0000000117,170000,2019-02-01 04:33:46,PL542865,4,T0000000117,S002,2
...,...,...,...,...,...,...,...,...
7139,T0000006887,210000,2019-07-31 19:43:42,AS961301,7132,T0000006887,S005,1
7140,T0000006888,210000,2019-07-31 20:05:45,GD025393,7133,T0000006888,S005,1
7141,T0000006891,50000,2019-07-31 20:28:20,HI337854,7136,T0000006891,S001,1
7142,T0000006894,180000,2019-07-31 21:20:44,HI400734,7139,T0000006894,S004,1
7143,T0000006895,85000,2019-07-31 21:52:48,AS339451,7140,T0000006895,S002,1

In [67]:
sql_query.split()[0]

'SELECT'

In [49]:
query_1 = "SELECT * FROM `tran_1`"
df1 = db2.execute_query(query_1)
df1

     transaction_id   price         payment_date customer_id
0       T0000000113  210000  2019-02-01 01:36:57    PL563502
1       T0000000114   50000  2019-02-01 01:37:23    HD678019
2       T0000000115  120000  2019-02-01 02:34:19    HD298120
3       T0000000116  210000  2019-02-01 02:47:23    IK452215
4       T0000000117  170000  2019-02-01 04:33:46    PL542865
...             ...     ...                  ...         ...
4995    T0000005108  210000  2019-06-15 02:42:41    HD315748
4996    T0000005109  150000  2019-06-15 03:36:16    HI215420
4997    T0000005110   50000  2019-06-15 03:44:06    IK880102
4998    T0000005111  210000  2019-06-15 04:14:06    IK074758
4999    T0000005112   50000  2019-06-15 04:42:38    HD444151

[5000 rows x 4 columns]

In [50]:
query_2 = "SELECT * FROM `tran_2`"
df2 = db2.execute_query(query_2)
df2

     transaction_id   price         payment_date customer_id
0       T0000005113  295000  2019-06-15 07:20:27    TS169261
1       T0000005114   50000  2019-06-15 07:35:47    HI599892
2       T0000005115   85000  2019-06-15 07:56:36    HI421757
3       T0000005116   50000  2019-06-15 08:40:55    OA386378
4       T0000005117  120000  2019-06-15 08:44:23    TS506913
...             ...     ...                  ...         ...
1781    T0000006894  180000  2019-07-31 21:20:44    HI400734
1782    T0000006895   85000  2019-07-31 21:52:48    AS339451
1783    T0000006896  100000  2019-07-31 23:35:25    OA027325
1784    T0000006897   85000  2019-07-31 23:39:35    TS624738
1785    T0000006898   85000  2019-07-31 23:41:38    AS834214

[1786 rows x 4 columns]

In [54]:
concat_1 = pd.concat([df1,df2],axis='rows',ignore_index=True)
concat_1

     transaction_id   price         payment_date customer_id
0       T0000000113  210000  2019-02-01 01:36:57    PL563502
1       T0000000114   50000  2019-02-01 01:37:23    HD678019
2       T0000000115  120000  2019-02-01 02:34:19    HD298120
3       T0000000116  210000  2019-02-01 02:47:23    IK452215
4       T0000000117  170000  2019-02-01 04:33:46    PL542865
...             ...     ...                  ...         ...
6781    T0000006894  180000  2019-07-31 21:20:44    HI400734
6782    T0000006895   85000  2019-07-31 21:52:48    AS339451
6783    T0000006896  100000  2019-07-31 23:35:25    OA027325
6784    T0000006897   85000  2019-07-31 23:39:35    TS624738
6785    T0000006898   85000  2019-07-31 23:41:38    AS834214

[6786 rows x 4 columns]

In [55]:
query_3 = "SELECT * FROM `tran_d_1`"
query_4 = "SELECT * FROM `tran_d_2`"
df3 = db2.execute_query(query_3)
df4 = db2.execute_query(query_4)
concat_2 = pd.concat([df3,df4],axis=0,ignore_index=True)
merge_df = pd.merge(concat_1,concat_2,how='left',on='transaction_id')
merge_df

,transaction_id,price,payment_date,customer_id,detail_id,item_id,quantity
0,T0000000113,210000,2019-02-01 01:36:57,PL563502,0,S005,1
1,T0000000114,50000,2019-02-01 01:37:23,HD678019,1,S001,1
2,T0000000115,120000,2019-02-01 02:34:19,HD298120,2,S003,1
3,T0000000116,210000,2019-02-01 02:47:23,IK452215,3,S005,1
4,T0000000117,170000,2019-02-01 04:33:46,PL542865,4,S002,2
...,...,...,...,...,...,...,...
7139,T0000006894,180000,2019-07-31 21:20:44,HI400734,7139,S004,1
7140,T0000006895,85000,2019-07-31 21:52:48,AS339451,7140,S002,1
7141,T0000006896,100000,2019-07-31 23:35:25,OA027325,7141,S001,2
7142,T0000006897,85000,2019-07-31 23:39:35,TS624738,7142,S002,1
7143,T0000006898,85000,2019-07-31 23:41:38,AS834214,7143,S002,1

In [68]:
#모듈 안에 존재하는 MyDB Class를 생성
import database

In [69]:
mod_db = database.MyDB()

In [70]:
import sys
sys.path

['c:\\Users\\fasdg\\AppData\\Local\\Programs\\Python\\Python313\\python313.zip',
 'c:\\Users\\fasdg\\AppData\\Local\\Programs\\Python\\Python313\\DLLs',
 'c:\\Users\\fasdg\\AppData\\Local\\Programs\\Python\\Python313\\Lib',
 'c:\\Users\\fasdg\\AppData\\Local\\Programs\\Python\\Python313',
 '',
 'C:\\Users\\fasdg\\AppData\\Roaming\\Python\\Python313\\site-packages',
 'C:\\Users\\fasdg\\AppData\\Roaming\\Python\\Python313\\site-packages\\win32',
 'C:\\Users\\fasdg\\AppData\\Roaming\\Python\\Python313\\site-packages\\win32\\lib',
 'C:\\Users\\fasdg\\AppData\\Roaming\\Python\\Python313\\site-packages\\Pythonwin',
 'c:\\Users\\fasdg\\AppData\\Local\\Programs\\Python\\Python313\\Lib\\site-packages']