### MongoDB Python 연동

- 라이브러리 설치(pymongo)
- 라이브러리 로드
- 서버와의 연결

In [2]:
#라이브러리 설치
#!pip install pymongo

from pymongo import MongoClient

In [3]:
# 서버와의 연결
client = MongoClient(
    host = '127.0.0.1',
    port = 27017
)

In [4]:
# 데이터베이스 목록 확인
client.list_database_names()

['admin', 'config', 'local', 'ubion', 'ubion2']

In [6]:
# 기존에 존재하지않은 데이터베이스 선택
db = client['ubion2']

In [8]:
# collection 생성
collection = db['users']

In [9]:
data = {
    'id' : 'test',
    'pass' : '1234'
}
collection.insert_one(data)

InsertOneResult(ObjectId('67ef3f87ced1ca184ae75a37'), acknowledged=True)

In [10]:
client.list_database_names()

['admin', 'config', 'local', 'ubion', 'ubion2']

In [ ]:
data = [
    {
        'name' : 'kim',
        'phone' : '01011112222',
        'gender' : 'male'
    },
    {
        'loc' : 'seoul'
    }
]
#생성
collection.insert_many(data)

InsertManyResult([ObjectId('67ef4346ced1ca184ae75a38'), ObjectId('67ef4346ced1ca184ae75a39')], acknowledged=True)

In [14]:
list(collection.find())

[{'_id': ObjectId('67ef3f87ced1ca184ae75a37'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('67ef4346ced1ca184ae75a38'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef4346ced1ca184ae75a39'), 'loc': 'seoul'}]

In [15]:
collection.find_one()

{'_id': ObjectId('67ef3f87ced1ca184ae75a37'), 'id': 'test', 'pass': '1234'}

In [ ]:
#find()는 인자값으로 옵션의 값들을 대입(조회)
list(
    collection.find(
        {'name':'kim'}
    ,   {'_id' : 0})
)

[{'name': 'kim', 'phone': '01011112222', 'gender': 'male'}]

In [ ]:
# 수정
collection.update_one(
    {
        'id' : 'test'
    },{ $set :
        {
        'pass' : '0000'
    }}
)
# SQL -> UPDATE `users` SET `pass` = '0000' WHERE `id` = 'test'

In [19]:
# 삭제
collection.delete_one(
    {'id' : 'test'}
)

# SQL -> DELETE FROM `users` WHERE `id` = 'test'

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [20]:
list(collection.find())

[{'_id': ObjectId('67ef4346ced1ca184ae75a38'),
  'name': 'kim',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('67ef4346ced1ca184ae75a39'), 'loc': 'seoul'}]

### mongoDB select 조건식
- find(옵션1, 옵션2, ...)
    1. db.collection.find() -> SELECT * FROM TABLE
    2. db.collection.find({'id':'test','pass':'1234'}) -> SELECT * FROM TABLE WHERE `id` = 'test' AND `pass` = '1234'
    3. db.collection.find({'id':'test'},{'pass':'1234'}) -> SELECT * FROM TABLE WHERE `id` = 'test' OR `pass` = '1234'
    4. db.collection.find({},{'id' : 1, 'pass' : 1}) -> SELECT `id`,`pass` FROM TABLE
    5. db.collection.find({},{'id' : 0}) -> 
    6. db.collection.find({'age' : {'$gt' : 25}}) -> SELECT * FROM TABLE WHERE `age` > 25
    7. db.collection.find({'age' : {'$lt' : 25}}) -> SELECT * FROM TABLE WHERE `age` < 25
    8. db.collection.find({'id' : {/bc/}}) : SELECT * FROM TABLE WHERE `id` LIKE '%bc%'
    9. db.collection.find().sort({'id' : 1}) : SELECT * FROM TABLE ORDER BY `id`
    10. db.collection.find().sort({'id' : -1}) : SELECT * FROM TABLE ORDER BY `id` DESC
    11. db.collection.find().limit(10) : SELECT * FROM TABLE LIMIT 10

In [5]:
# mongoDB에서 admin 데이터베이스에서 test라는 collection에 있는 데이터 중
# SAL의 값이 1500보다 큰 데이터를 NAME을 기준으로 내림차순 정렬
db = client['admin']

In [11]:
collection = db['test']

In [15]:
list(collection.find({'SAL':{"$gt":1500}}).sort({'ENAME':-1}))

[{'_id': ObjectId('67ef2afcd18ff78edf8582ba'),
  'EMPNO': 7788.0,
  'ENAME': 'SCOTT',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': datetime.datetime(1987, 6, 28, 0, 0),
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582bb'),
  'EMPNO': 7839.0,
  'ENAME': 'KING',
  'JOB': 'PRESIDENT',
  'MGR': 0.0,
  'HIREDATE': datetime.datetime(1981, 11, 17, 0, 0),
  'SAL': 5000.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582b6'),
  'EMPNO': 7566.0,
  'ENAME': 'JONES',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 4, 2, 0, 0),
  'SAL': 2975.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582bf'),
  'EMPNO': 7902.0,
  'ENAME': 'FORD',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': datetime.datetime(1981, 12, 3, 0, 0),
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582b9'),
  'EMPNO': 7782.0,
  'ENAME': 'CLARK',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 6, 9, 0, 0),
  'SAL': 2450.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582b8'),
  'EMPNO': 7698.0,
  'ENAME': 'BLAKE',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 5, 1, 0, 0),
  'SAL': 2850.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582b4'),
  'EMPNO': 7499.0,
  'ENAME': 'ALLEN',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': datetime.datetime(1981, 2, 20, 0, 0),
  'SAL': 1600.0,
  'COMM': 300.0,
  'DEPTNO': 30.0}]

In [17]:
list(client['admin']['test'].find(
    {'SAL':{'$gt' : 1500}}
).sort({'ENAME':-1}))

[{'_id': ObjectId('67ef2afcd18ff78edf8582ba'),
  'EMPNO': 7788.0,
  'ENAME': 'SCOTT',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': datetime.datetime(1987, 6, 28, 0, 0),
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582bb'),
  'EMPNO': 7839.0,
  'ENAME': 'KING',
  'JOB': 'PRESIDENT',
  'MGR': 0.0,
  'HIREDATE': datetime.datetime(1981, 11, 17, 0, 0),
  'SAL': 5000.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582b6'),
  'EMPNO': 7566.0,
  'ENAME': 'JONES',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 4, 2, 0, 0),
  'SAL': 2975.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582bf'),
  'EMPNO': 7902.0,
  'ENAME': 'FORD',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': datetime.datetime(1981, 12, 3, 0, 0),
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582b9'),
  'EMPNO': 7782.0,
  'ENAME': 'CLARK',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 6, 9, 0, 0),
  'SAL': 2450.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582b8'),
  'EMPNO': 7698.0,
  'ENAME': 'BLAKE',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': datetime.datetime(1981, 5, 1, 0, 0),
  'SAL': 2850.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'_id': ObjectId('67ef2afcd18ff78edf8582b4'),
  'EMPNO': 7499.0,
  'ENAME': 'ALLEN',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': datetime.datetime(1981, 2, 20, 0, 0),
  'SAL': 1600.0,
  'COMM': 300.0,
  'DEPTNO': 30.0}]